.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navbar a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: 0.25s;
}
.navbar a:hover{
    color: magenta;
}
.navbar-brand img{
    filter: saturate(90%);
    transition: 0.25s;
}
.navbar-brand img:hover{
    filter: saturate(120%) contrast(120%);
}