.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #17191f;
}

.navbar h2{
    margin: 0;
    & a{
        opacity: 1;
    }
}

.navbar ul{
    display: flex;
    gap: 1rem;
    margin: 0;
}

.new-btn{
    font-weight: bold;
    border: 1px solid #fff;
    padding: .5rem 1rem;
    border-radius: 1rem;
    transition: 0.25s;
    opacity: 1;
}

.new-btn:hover{
    opacity: 1;
    background-color: #fff;
    color: #17191f;
}